
html(lang='en')
  head
  body
      h1 My Portfolio
      p Name: Nidhi Sinha
      p Gender: Female
      p Date of Birth: 16-04-1993
      p Education:
        p Matriculation: Sun Shine Prep/High School
        p Intermediate: St.Joseph Public School
        p Graduation: B.Tech - Techno India, Salt Lake
      p Work:
        p Locus Rags
        p MyAdvo TechServe Pvt. Ltd.
      p Address:
        p City: Muzaffarpur
        p State: Bihar